.chatArea {
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  padding: 8px 20px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.inputField {
  flex: 1;
  width: 100%;
  resize: none;
  overflow-y: hidden;
  min-height: 30px;
  max-height: 150px;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.4;
  outline: none;
}

.inputField:focus {
  border-color: #17e5c9;
}

.enterButton {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid;
  background-color: #17e5c9;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.submitIcon {
  font-size: 40px;
  color: black;
  padding: 7px;
  transition: all 0.2s ease-in-out;
}

.enterButton:hover .submitIcon {
  font-size: 45px;
}

.enterButton:hover {
  background-color: #007bff;
}
